.footer {
  background: url("src/assets/images/moon-footer.svg");
  background-position: 50% 3%;
  background-size: 200%;
  bottom: 0;
  width: 100%;

  &__container {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
    color: $light-color;
    text-align: center;
    // margin-top: 160px;
    padding-bottom: .5em;

    &__logo {
      width: 8em;
<<<<<<< HEAD
      margin-top: 14em;
      filter: drop-shadow(30px 10px 4px black);
=======
      margin-top: 3em;
      filter: invert(1) drop-shadow(30px 10px 3px rgb(78, 78, 78));
>>>>>>> bee58575125df5039293e384e259d1923cda2d07
    }

    &__description {
      color : $primary-color;
      margin-top : 1em;
      

      a {
        margin-right: $gutter;
      }
    }
  }
}
