.modal {

  z-index: 9999;
}

.modal-card {

  height: 30%;
  color: $light-color;
  font-family: 'Roboto';
  border-radius: 10px;


  &-title {

    color: $light-color;
  }

  &-foot {
    border-top: none;
  }

  &-head {
    border-bottom: none;
  }

  &-head,
  &-foot {

    background-color: $primary-color;
  }

  &-body {
    display: flex;
    align-items: center;
    font-size: 1.4em;
    background-color: $secondary-color;

    &-mascotte {

      width: 20%;
    }
  }

}


.button--modal {

  margin: 0 auto;
  padding: 1em;
}
