.createEvent {
  width: 95%;
  margin: auto;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  &__titlecreateEvent {
    font-size: 2em;
    color: $light-color;
    margin: $gutter;
  }
  &__container {
    color: white;
    width: 50%;
    text-align: center;
    &__flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__form {
      overflow: hidden;
      margin: $gutter;
      width: 14.5rem;
      min-height: 316px;
      border: 1px solid $secondary-color;
      box-shadow: 0px 0px 9px -1px $secondary-color;
      border-radius: 10px;
      background-color: $primary-color;
      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
        font-size: 1.6em;
        text-shadow: 0 0 0.2em $tertiary-color;
        width: 100%;
        border-bottom: 1px solid $secondary-color;
        box-shadow: 0px 3px 7px -2px $secondary-color;
      }
      &__content {
        width: 90%;
        margin: auto;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & button {
          width: 70%;
          margin: .8em auto 0 auto;
        }
      }
    }
    &__event-list {
      min-height: 350px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      overflow: hidden;
      margin: $gutter;
      border: 1px solid $secondary-color;
      box-shadow: 0px 0px 9px -1px $secondary-color;
      border-radius: 10px;
      width: 14.5rem;
      background-color: $primary-color;
      padding-bottom: 0.8rem;
      img {
        width: 260px;
        height: 150px;
        object-fit: cover;
      }
      h2 {

        padding: 1rem;
      }
      &__content {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
      }
      &__button {
        margin-top: 0.8rem;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}

.createEventForm {
  color: white;
  font-size: 1.4em;
  width: 80%;
  margin: 0 auto;
  padding: $gutter;
  border-radius: 10px;
  &__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & .left {
      width: 50%;
      textarea {
        width: 100%;
      }
      input[type="text"],
      input[type="datetime-local"],
      textarea {
        box-shadow: 0 0 4px $tertiary-color;
      }
      .textarea {
        resize: none;
      }
      h4 {
        margin: $gutter 0;
      }
      & input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
      }
      &__range-input {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        & input {
          width: 85%;
        }
        & span {
          width: 5%;
        }
      }
      &__bottom {
        display: flex;
        &__publish-switch {
          width: 50%;
          &__switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin-left: 4rem;
          }

          /* Hide default HTML checkbox */
          &__switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          /* The slider */
          &__slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $secondary-color;
            -webkit-transition: .4s;
            transition: .4s;
          }
          &__slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: $light-color;
            -webkit-transition: .4s;
            transition: .4s;
          }
          input:checked+.left__bottom__publish-switch__slider {
            background-color: $tertiary-color;
          }
          input:focus+.left__bottom__publish-switch__slider {
            box-shadow: 0 0 1px $tertiary-color;
          }
          input:checked+.left__bottom__publish-switch__slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }

          /* Rounded sliders */
          &__slider.round {
            border-radius: 34px;
          }
          &__slider.round:before {
            border-radius: 50%;
          }
        }
        &__upload {
          width: 45%;
          position: relative;
          display: flex;
          align-items: center;
          &:hover {
            .left__bottom__upload {
              &__edit {
                opacity: 1;
                height: auto;
              }
              &__img {
                &__elem {
                  filter: brightness(0.5) blur(5px);
                  transform: scale(1.02);
                }
              } 
            }
          }
    
          &__edit {
            height: 0;
            opacity: 0;
            transition: opacity .1s ease-in-out;
            & #upload-illustration {
              position: absolute;
              opacity: 0;
              z-index: -1;
            }
            &__icon {
              font-size: 5rem;
              position: absolute;
              color: $tertiary-color;
              filter: drop-shadow(0 0 0.2em $primary-color);
              top: 50%;
              left: 50%;
              z-index: 3;
              transform: translate(-50%, -50%);
              &:hover {
                color: $light-color;
                filter: drop-shadow(0 0 0.2em $tertiary-color);
              }
            }
          }
          &__img {
            overflow: hidden;
            width: 100%;
            height: 170px;
            &__elem {
              width: 100%;
              height: 170px;
              object-fit: cover;
              transition: .2s ease-in-out;
            }
          }
        }
      }
    }
    & .right {
      width: 45%;
    }
    &__map {
      // height: 100%;
      background-color: $light-color;
      border: 1px solid $secondary-color;
      border-radius: 10px;
      box-shadow: 0px 0px 9px -1px $secondary-color;
      height: 25em;
      overflow: hidden;
      & .leaflet-container {
        margin: 0;
      }
    }
    .maxRateEvent {
      padding: 0.4em;
      margin-left: 1em;
      width: 12%;
    }
    .checkbox {
      padding: $gutter;
      margin: 0 $gutter;
    }
    &__checkbox {
      text-align: left;
      width: $gutter;
      padding-left: $gutter;
    }
    &__add-img {
      background-color: $secondary-color;
      height: $gutter;
    }
    &__validate {
      margin-top: 1.5*$gutter;
      display: flex;
      justify-content: center;
      &>* {
        margin: $gutter;
      }
    }
  }
  @include mob {
    width: 80%;
    margin: auto;
    padding: 0;
    text-align: center;
    &__form {
      display: flex;
      flex-direction: column;
      & .left {
        width: 100%;
        &__range-input {
          width: 100%;
        }
        &__bottom {
          flex-direction: column-reverse;
          width: 100%;
          &__publish-switch {
            width: 100%;
            &__switch {
              margin-left: 0;
            }
          }
          &__upload {
            object-fit: cover;
            width: 100%;
            margin-top: 1rem;
          }
        }
      }
      & .right {
        width: 100%;
        margin-top: 1rem;
        .createEventForm {
          &__form {
            &__map {
              height: 25rem;
              & > * {
                height: 100%;
              }
            }
          }
        }
      }
    }
    
  }
}
