.main {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__titlecreateEvent {
    font-size: 2em;
    color: $light-color;
    margin: $gutter;
  }
}
  .container {
    color: white;

    .main-title__createEvent {
      font-size: 2em;
      margin: $gutter 0;
    }

    .createEvent {

      display: flex;
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;


      &__form {
        overflow: hidden;
        margin: $gutter;
        border: 1px solid $secondary-color;
        box-shadow: 0px 0px 9px -1px $secondary-color;
        border-radius: 10px;
        background-color: $primary-color;

        &__title {
          font-size: 1.4em;
          background-color: $secondary-color;
          width: 100%;

          h2 {
            padding: $gutter;
          }
        }

        &__name {
          display: flex;
          flex-direction: column;
          padding: $gutter;
          margin-top: $gutter*4;

          input {
            padding: 1em;
          }
        }
      }


      &__event-list {
        overflow: hidden;
        margin: $gutter;
        border: 1px solid $secondary-color;
        box-shadow: 0px 0px 9px -1px $secondary-color;
        border-radius: 10px;
        width: 15em;
        background-color: $primary-color;

        img {
          width: 100%;
        }

        h2 {

          padding: $gutter;
        }

        &__content {
          display: flex;
          padding: $gutter;
          justify-content: space-between;
        }

      }
    }
  }


  .createEventForm {
    color: white;
    font-size: 1.4em;
    width: 80%;
    margin: 0 auto;
    padding: $gutter;
    border-radius: 10px;

    &__form {
      display: flex;
      justify-content: space-around;
      align-items: center;

      & .right {
        width: 40%;
      }

      textarea {
        width: 100%;
      }

      h4 {
        margin: $gutter 0;
      }

      & input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
      }

      &__map {
        background-color: $light-color;
        border: 1px solid $light-color;
        height: 25em;
        overflow: hidden;
      }

      .maxRateEvent {
        padding: 0.4em;
        margin-left: 1em;
        width: 12%;
      }

      .checkbox {
        padding: $gutter;
        margin: 0 $gutter;
      }

      &__checkbox {
        text-align: left;
        width: $gutter;
        padding-left: $gutter;
      }

      &__add-img {
        background-color: $secondary-color;
        height: $gutter;
      }

      &__validate {
        display: flex;
        justify-content: center;
      }
    }
  }
