.container {
  width: 100%;
}

.event-title {
  margin-top: .5em;
  font-size: 2.5em;
  text-align: center;
  color: $light-color;

}

.createEvent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(41, 30, 197, 0.453);
  width: 70%;
  margin:0 auto;
  border-radius: 10px;
  padding: 40px 0;
}

.form__create {

  &__title {
    font-size: 5em;
    margin-top: 1em;
    font-size: 1.2em;
    text-align: left;
    color: $light-color;
  }

  & input {
    margin: $gutter 0;


  }

  &__button {
    padding: 1em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .is-danger {
      margin-left: 15px;
      width: 150px !important;

    }

    .is-link {

      width: 150px !important;
    }

  }

  .maxRateEvent {
    width: 50px;
    margin-left: 50px;
  }
}



.form__right {
  border-radius: 10px;
  width: 47%;
  height: 100%;
  margin: $gutter $gutter $gutter $gutter;
  border: 1px solid $light-color;
}

.form__map {
  height: 374px;
  margin: 15px 0;
  background-color: $light-color;
  border: 1px solid $light-color;
  width: 100%;
  overflow: hidden;

  &-title {
    color: black;
    font-size: 3em;
    text-align: center;
  }
}


.form__add__img {
  display: flex;
  background-color: $secondary-color;
  border: 1px solid $light-color;
  max-width: 100%;
  height: 20%;

  & img {
    margin: 1em 1em 0 .5em;
    width: 200px;
    height: 100px;
    background-color: black;
  }

  &__import {
    &-title {
      width: 100%;
      margin-right: 2em;
      color: black;
      font-size: 1.5em;
      font-weight: bold;
      text-align: right;
      padding: 1em;
    }

    & input[type=file] {
      background-color: pink;
      margin-left: 1em;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 1em;
      padding: .5em;
    }
  }
}


.button-wrapper {
  position: relative;
  width: 150px;
  text-align: center;
  margin: auto;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: $tertiary-color;
  cursor: pointer;
  color: $light-color;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: .8em;
  border-radius: 5px;
}

#upload {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

textarea {
  resize: none;
  margin: 1.5em 0;
}
