@use "sass:math";

.leaflet-container {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 2px;
}

.map {

  display: flex;
  position: relative;
  box-shadow: 1px 5px 16px 0 rgb(65 8 255 / 98%);


  &__list_events {
    color: white;
    width: 30%;
    overflow: auto;
    height: 100vh;


    &__box {
      padding: 1em;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-radius: 5px;
      // margin: 10px;
      overflow: hidden;
      border-bottom: 1px solid rgb(65 8 255 / 98%);

      &__img {
        min-height: 0;
        min-width: 0;
        max-width: 200px;
        margin-right: 1em;
      }

      &__content {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 50%;

        &__h2 {
          font-size: 1.4em;
          text-justify: auto;
          padding-bottom: 0.4em;
        }

        .dateEvent,
        .nbrPlace {
          font-weight: bold;
        }

        .description {

          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-height: 16px;
          /* fallback */
          max-height: 32px;
          /* fallback */
          -webkit-line-clamp: 2;
          /* number of lines to show */
          -webkit-box-orient: vertical;
        }
        span {
          font-weight: none;
        }

        .btn {
          width: 40%;
          color: white;
          margin: 1em 0;
          position: relative;
          left: 0;
          padding: 1em;
          border: none;
          overflow: hidden;
          font-size: 0.8em;
          line-height: $gutter;
        }

        li {
          margin-top: math.div($gutter, 2);
        }
      }

      // End list_events__box__content
    }

    //End list_events
  }

  // End balise list_events

  &__filter {
    background-color: white;
    width: 20%;
    position: absolute;
    right: 0;
    z-index: 999;
    padding: 2em;
    margin: 2em;

    &__h2 {
      font-size: 2em;
      padding-bottom: 1em;
    }

    &__label {
      font-size: 1.3em;
      padding-bottom: 1em;
    }

    input,
    button,
    select {
      margin: 1em 0;
    }

    input {
      width: 100%;
    }

    .select {
      height: 4.5em;
    }

    .is-normal-test {
      font-size: 0.8em;
    }

    button {
      background-color: #3b28e2 !important;
    }

  }

}

//End balise map
