@use "sass:math";

.Exploration {
  color: $light-color;
  display: flex;
  padding: $gutter;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__main {
    margin: $gutter 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30em;

    &__informations {
      background-color: $primary-color;
      width: 75%;
      padding: $gutter;
      border: 1px solid $secondary-color;
      box-shadow: 0px 0px 9px -1px $secondary-color;
      border-radius: 5px;

      &__general {
        min-height: 100%;
        display: flex;
        justify-content: space-around;

        h2 {
          font-weight: 900;
          font-size: 1.5em;
        }

        &__left {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          max-height: 100%;

          p {
            margin: 0.5em 0;
          }

          img {
            border-radius: 5px;
            max-height: 20em;
            width: auto;
          }
        }

        &__right {
          width: 55%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          p {
            text-align: center;
          }
        }
      }
    }

    &__participants {
      background-color: $primary-color;
      width: 20%;
      border-radius: 5px;
      padding: $gutter;
      overflow-y: auto;
      border: 1px solid $secondary-color;
      box-shadow: 0px 0px 9px -1px $secondary-color;
      
      h3 {
        font-weight: 900;
        font-size: 1.5em;
        text-align: center;
      }

      ul {
        margin-top: $gutter;

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: math.div($gutter, 2);

          .button {
            border-radius: 50%;
            max-height: 2rem;
            max-width: 2rem;
          }

          .icon {
            margin-right: 1em;

            img {
              object-fit: cover;
              height: 3rem;
              min-width: 3rem;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  &__overview {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50rem;

    &__left {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__weather {
        background-color: $primary-color;
        height: 15%;
        border-radius: 5px;
        border: 1px solid $secondary-color;
        box-shadow: 0px 0px 9px -1px $secondary-color;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: $gutter;

        &__icon {
          img {
            width: 70px;
            height: 70px;
          }
        }

        &__temp {
          font-size: 3.5rem;
        }
      }

      &__comments {
        background-color: $primary-color;
        height: 82%;
        border-radius: 5px;
        border: 1px solid $secondary-color;
        box-shadow: 0px 0px 9px -1px $secondary-color;
        position: relative;
        overflow: hidden;

        h3 {
          padding: 1.2rem;
          font-weight: 900;
          font-size: 1.8em;
          text-align: center;
          border-bottom: 1px solid $secondary-color;
        }

        &__list {
          padding: .4rem 0 0 .8rem;
          height: 82%;
          overflow: auto;
          
          &__item {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            position: relative;

            &__author {
              display: flex;
              align-items: center;
              font-weight: bold;
              
              &__avatar {
                margin-right: 1rem;
                
                img {
                  height: 40px;
                  width: 40px;
                  min-height: 40px;
                  min-width: 40px;
                  object-fit: cover;
                  border-radius: 50%;
                }
              }
              &__username {
                &:hover {
                  color: $light-color;
                  text-shadow: 1px 1px 8px $tertiary-color;
                }
              }
            }

            &__icons {
              position: absolute;
              top: 1rem;
              right: 1rem;
              &__elem {
                cursor: pointer;
                margin-left: 0.3rem;
                font-size: 0.9rem;
                color: $tertiary-color;
                &:hover {
                  color: $light-color;
                  filter: drop-shadow(1px 1px 8px $tertiary-color);
                }
              }
            }

            &__text {
              font-size: large;
              margin-left: 3em;
              
            }
          }
        }
        &__form {
          width: 95%;
          position: absolute;
          bottom: 0;
          padding-bottom: .5rem;
          display: flex;
          justify-content: space-evenly;
          &__input {
            width: 78%;
          }
          &__button {
            width: 18%;
          }
        }
      }
    }

    &__map {
      width: 70%;
      border-radius: 5px;
      border: 1px solid $secondary-color;
      box-shadow: 0px 0px 9px -1px $secondary-color;
      overflow:hidden;
      &__elem {
        margin: 0;
      }
    }
  }

  // &__author {
  // }
}
