.guide {
  width: 65%;
  margin: auto;
  color: $light-color;
  & p {
    font-style: italic;
    font-size: .9em;
    margin-bottom: $gutter;
  }
  &__presentation {
    &__title {
      margin-top: 3 * $gutter;
      font-size: 1.5em;
    }
    &__sous-title {
      font-size: 1.2em;
      padding: 1em;
    }
    
    &__paragraphe {
      margin: $gutter 0;
      padding: 1rem;
      box-shadow: 0 1px 7px 0 $light-color;
      border-radius: 0.5rem;
      & em {
        border-bottom: 1px solid $light-color;
        margin: auto;
        font-size: 1.2em;
      }
    }
    & em {
      color: red;
    }
  }
  &__section {
      &__title {
        font-size: 1.5em;
        margin-bottom: $gutter;
      }
      &__paragraphe {
        margin: $gutter 0;
        padding: 1rem;
        box-shadow: 0 1px 7px 0 $light-color;
        border-radius: 0.5rem;
        &__images {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }
    }
}

.figGuide {
  box-shadow: 0 1px 7px 0 $light-color;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 5px;
  width: 200px;
  margin: $gutter;
  &--main {
    width: 350px;
    border-radius: 5px;
    & a {
      & img {
        height: 350px;
        object-fit: cover;
      }
    }
  }
  & figcaption {
  color: $light-color;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  }
}


// PAGE PHOTO.JS

.photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(41, 30, 197, 0.453);
  border: 1px solid red;
  margin: $gutter auto;
  border-radius: 10px;
  padding: 40px 0;
  color: $light-color;
  
  & .toto{
    max-width: 70%;
    margin: 1em;
    border: 1px solid white;
    &__title {
      max-width: 52%;
      font-size: 1.5em;
      color: $light-color;
    }
    &__sous-title {
      font-size: 1.2em;
      color: $light-color;
      padding: 1em;
    }
    & em {
      color: red;
      margin-left: 15%;
    }
  }
}