.guide {
  width: 65%;
  margin: auto;
  color: $light-color;
  font-size: 1.2em;

  & p {
    font-size: .9em;
    margin-bottom: $gutter;
  }

  &__presentation {
    display: flex;
    flex-direction: column;

    &__avatar {
      &__avatar {
        right: 2%;
        top: 6em;
        width: 20%;
        position: absolute;
      }
    }

    &__title {
      font-size: 1.5em;
    }

    &__sous-title {
      padding: $gutter;
    }

    &__paragraphe {
      background-color: $primary-color;
      margin: 0 0 $gutter 0;
      padding: 1rem;
      border: 1px solid $secondary-color;
      box-shadow: 0px 0px 9px -1px $secondary-color;
      border-radius: 5px;

      & em {
        color: red;
        margin-left: 15%;
      }
    }
  }

  &__section {
    &__title {
      font-size: 1.5em;
      margin-bottom: $gutter;
    }

    &__paragraphe {
      background-color: $primary-color;
      margin: $gutter 0;
      padding: 1rem;
      border: 1px solid $secondary-color;
      box-shadow: 0px 0px 9px -1px $secondary-color;
      border-radius: 5px;

      &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }

  @include mobTab {
    width: 85%;
  }

  @include tab {
    &__presentation {
      &__avatar {
        &__avatar {
          right: 4%;
          top: 3.5%;
          width: 19%;
        }
      }
    }
  }

  @include mob {
    &__presentation {
      &__avatar {
        &__avatar {
          right: 4%;
          top: 2.8%;
          width: 24%;
        }
      }
    }
  }
}

.figGuide {
  border: 1px solid $secondary-color;
  box-shadow: 0px 0px 9px -1px $secondary-color;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 5px;
  width: 200px;
  margin: $gutter;

  &--main {
    width: 350px;
    border-radius: 5px;

    & a {
      & img {
        height: 350px;
        object-fit: cover;
      }
    }
  }

  & figcaption {
    color: $light-color;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
}


// PAGE PHOTO.JS

.photo {
  width: 70%;
  margin: $gutter auto;
  color: $light-color;

  &__content {
    background-color: $primary-color;
    padding: $gutter;
    margin-top: 1em;
    border: 1px solid $secondary-color;
    box-shadow: 0px 0px 9px -1px $secondary-color;
    border-radius: 5px;

    &__title {
      font-size: 1.5em;
      color: $light-color;
    }

    &__sous-title {
      font-size: 1.2em;
      color: $light-color;
      padding: 1em;
    }

    & em {
      color: red;
      margin-left: 15%;
    }
  }
}
