@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-18px);
	}
	100% {
		transform: translatey(0px);
	}
}

.landing {
  width: 78%;
  margin: auto;
  color: $light-color;
  margin-top: 4*$gutter;
  &__welcome {
    display: flex;
    justify-content: space-between;
    &__images {
      width: 48%;
      position: relative;
      &__mascot {
        width: 70%;
        position: absolute;
        top: 0;
        left: 18%;
        transform: translatey(0px);
        animation: float 4.5s ease-in-out infinite;
      }
      &__background {
        padding-top: 2*$gutter;
      }
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 48%;
      &__title {
        font-size: 3em;
        color: $light-color;
        line-height: 1.2;
      }

      &__button {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
      }
    }
  }
  &__presentation {
    margin-top: 4*$gutter;
    display: flex;
    &__paragraphs {
      font-size: 1.2em;
      width: 54%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      line-height: 1.2;
      p::first-letter {
        font-size: 140%;
      }
    }
    &__image {
      width: 42%;
    }
  }
  &__middle-title {
    margin-top: 4*$gutter;
    text-align: center;
    font-size: 2.5em;
  }
  &__previews {
    margin-top: 4*$gutter;
    display: flex;
    justify-content: space-evenly;
    &__card {
      background-color: $primary-color;
      border: 1px solid $secondary-color;
      border-radius: 10px;
      box-shadow: 0px 0px 9px -1px $secondary-color;
      padding: 0.8*$gutter $gutter;
      width: 28%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        margin-bottom: 1.8em;
        font-size: larger;
        text-align: center;
      }
    }
    & .button {
      width: 100%;
    }
  }
  @include mobTab {
    margin-top: $gutter;
    width: 90%;
    &__welcome {
      flex-direction: column;
      align-items: center;
      &__images {
        width: 70%;
      }
      &__description {
        margin-top: $gutter;
        width: 100%;
        text-align: center;
        & .button {
          font-size: 1.2rem;
          margin-top: $gutter;
        }
      }
    }
    &__presentation {
      margin-top: $gutter;
      flex-direction: column-reverse;
      align-items: center;
      &__image {
        width: 70%;
      }
      &__paragraphs {
        width: 90%;
        & p {
          font-size: 1.2rem;
          margin-bottom: 0.8em;
        }
      }
    }
    &__previews {
      flex-direction: column;
      width: 60%;
      margin: auto;
      &__card {
        width: 100%;
        margin-top: 3*$gutter;
        & p {
          font-size: 1.1rem;
        }
        & .button {
          font-size: 1.2rem;
        }
      }
    }
  }
  @include mob {
    .landing {
      &__welcome {
        &__description{
          &__title {
            margin-top: $gutter;
            font-size: 2rem;
          }
        }
      }
      &__presentation {
        &__paragraphs {
          & p {
            font-size: 0.9rem;
          }
        }
      }
      &__previews {
        font-size: 1rem;
        width: 92%;
        &__card {
          & p {
            font-size: 0.9rem;
          }
          & .button {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
