.project {
  width: 60%;
  margin: auto;

  &__container {
    &__header {
      font-size: 1.1em;
      color: $light-color;
      width: 100%;

      &__content {
        width: 70%;
        margin: auto;
        text-align: center;
        margin-bottom: 2em;
      }
    }

    &__developper {
        width: 100%;
        display: flex;
        color: $light-color;
        margin: 5em 0;
        justify-content: space-between;
        align-items: center;
        animation: fadeInRight;
        animation-duration: 1s;

        &:nth-child(odd) {
          flex-direction: row-reverse;
          animation: fadeInRight;
          animation-duration: 1s;
        }

        &__content {
          margin: 5em 0;
          width: 60%;
          height: 20rem;
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;

          &__name {
            font-size: 2em;
            font-weight: bold;
            text-shadow: 1px 1px 8px $tertiary-color;
            margin-bottom: .5rem;
          }

          &__job {
            font-size: 1.3em;
            color: $light-color;
            margin-bottom: 1.5rem;
            font-style: italic;
            display: inline;
            border-bottom: 1px solid $light-color;
            &__description {
              margin-top: 1rem;
            }
          }
        }

        &__avatar {
          position: relative;

            .avatar {
              object-fit: cover;
              width: 20rem;
              height: 20rem;
              border-radius: 50%;
              filter: grayscale(100%);
              transition: .3s ease-in-out;

              &:hover {
                filter: grayscale(0);
                transform: translateY(-10px);
              }
            }

            .pass {
              object-fit: cover;
              width: 20rem;
              height: auto;
              position: absolute;
              bottom: -20%;
              left: 0;
              border-radius: 5px;
            }
        }
    }
  }
}

.--linkedin {
  background-color: #0e76a8;
  &:hover {
    box-shadow: 0 0 0.4em #0e76a8;
  }
}

.--github {
  background-color: #171515;
  &:hover {
    box-shadow: 0 0 0.4em $light-color;
  }
}

.--portfolio {
  background-color: $light-color;
  color: #000000;
  &:hover {
    box-shadow: 0 0 0.4em $light-color;
    color: black;
  }
}
