.settings {
  width: 38%;
  min-width: 350px;
  margin: auto;
  &__elems {
    padding-top: 4em;
    & h2 {
      font-size: 1.6em;
      color: $light-color;
      margin-bottom: 1.5em;
    }
    &__form {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;
      & label {
        font-size: 0.9em;
        color: $light-color;
      }
      .field__error {
        color: $light-color;
        font-size: 0.8rem;
        text-shadow: 0 0 0.2rem $tertiary-color;
      }
      .is-danger {
        &:focus {
          background-color: #f14668;
          border-color: transparent;
        }
      }
      &__error {
        font-size: 1.1rem;
        margin-bottom: 0.4rem;
        color: $light-color;
        text-shadow: 0 0 0.2rem $tertiary-color;
      }
    }
    & input {
      border-color: $secondary-color !important;
    }
  }
  @include tab {
    width: 52%;
  }
}
