@use "sass:math";

.timeline {
    font-style: italic;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    &-left {
        width: 20%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: $gutter 0;

        &__widget {
            width: 80%;
            padding: .2em;
            border-radius: 5px;
            margin: .2em 0;
        }
    }
    &-main {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $gutter;
        &__exploration {
            width: 80%;
            padding: 1em;
            border-radius: 5px;
            margin: .5em 0;
        }
    }
    &-right {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: $gutter 0;
        &__widget {
            width: 80%;
            padding: .5em;
            border-radius: 5px;
            margin: .2em 0;
        }
    }
}

.timeline-discover {
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        filter: brightness(.5);
        transition: .2s ease-in-out;
        border-radius: 5px;
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $light-color;
        font-weight: bold;
        font-size: 1.5em;
        transition: .1s ease-in-out;
    }


    &:hover {
        p {
            transform: translate(-50%, -50%) scale(1.2);
        }

        img {
            filter: brightness(1);
        }
    }

}

.follow, .comment {
  margin-bottom: $gutter;
  
  & img {
    width: 20%;
    border-radius: 50%;
  }
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid $secondary-color;
  box-shadow: 0px 0px 9px -1px $secondary-color;
  &__title {
    margin: math.div($gutter, 2);
    display: flex;
    padding: math.div($gutter, 2);
    & img {
      width: 5%;
      border-radius: 50%;
    }
    & h3 {
      margin: auto;
      margin-left: math.div($gutter, 2);
    }
  }
  &__content {
    padding: math.div($gutter, 2);
    width: 65%;
    display: flex;
    justify-content: space-between;
    background-color: $primary-color !important;
      & > img {
        background-size: cover;
        border-radius: 50%;
        width: 15%;
        color: white;
        &:nth-child(even) {
          width: auto;
          height: 50px;
          margin: auto;
        }
    }
    & p {
      margin-left: $gutter;
    }
  }
  &__image {
    padding: $gutter;
    display: flex;
    justify-content: center;
    & > img {
      width: 60%;
      border-radius: 0;
    }
  }
  &__date {
    font-size: .8em;
    padding: math.div($gutter, 2);
    display: flex;
    justify-content: flex-end;
  }
  
}
