html {
  font-family: 'Exo', sans-serif;
  background-color: $primary-color;
}

body {
  min-height: 100vh;
  position: relative;
}

#root {
  padding-bottom: 14em;
}

*::selection {
  background-color: $secondary-color;
  color: $light-color;
}

/* width scrollbar*/
::-webkit-scrollbar {
  width: 18px;
}

/* Track scrollbar */
::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 4px solid $primary-color;
}

/* Handle scrollbar */
::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 10px;
  border: 4px solid $primary-color;
}

::-webkit-scrollbar-track-piece {
  background-color: inherit;
}
