@use 'reset';
@use 'vars' as v;

body {
  font-family: sans-serif;
  background-color: v.$primary-color;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
