$gutter : 1.5em;
$primary-color: #090115;
$secondary-color: #220033;
$tertiary-color: #bb1ecf;
$light-color: #F8F8FF;

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 480px;

$light-color-alpha: #F8F8FF;

$color-box:rgba(41,30,197,1);
$color-btn-modal:#484cc7;
$primary-color-rgba:rgba(9, 1, 21, 0.7);
